<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salute.mall.pay.service.mapper.PayBillMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.salute.mall.pay.service.pojo.entity.PayBill" id="baseMap">
        <result property="id"  column="id"/>
        <result property="payBillCode"  column="pay_bill_code"/>
        <result property="mainOrderCode"  column="main_order_code"/>
        <result property="subOrderCode"  column="sub_order_code"/>
        <result property="paySence"  column="pay_sence"/>
        <result property="payTime"  column="pay_time"/>
        <result property="payStatus"  column="pay_status"/>
        <result property="payableAmount"  column="payable_amount"/>
        <result property="paymentAmount"  column="payment_amount"/>
        <result property="payType"  column="pay_type"/>
        <result property="payUserCode"  column="pay_user_code"/>
        <result property="receiveUserCode"  column="receive_user_code"/>
        <result property="payAccountCode"  column="pay_account_code"/>
        <result property="receiveAccountCode"  column="receive_account_code"/>
        <result property="outPayCode"  column="out_pay_code"/>
        <result property="remark"  column="remark"/>
        <result property="sort"  column="sort"/>
        <result property="version"  column="version"/>
        <result property="creator"  column="creator"/>
        <result property="creatorCode"  column="creator_code"/>
        <result property="createdTime"  column="created_time"/>
        <result property="modifier"  column="modifier"/>
        <result property="modifierCode"  column="modifier_code"/>
        <result property="modifiedTime"  column="modified_time"/>
    </resultMap>

    <sql id="baseColumn">
        id,
        pay_bill_code,
        main_order_code,
        sub_order_code,
        pay_sence,
        pay_time,
        pay_status,
        payable_amount,
        payment_amount,
        pay_type,
        pay_user_code,
        receive_user_code,
        pay_account_code,
        receive_account_code,
        out_pay_code,
        remark,
        sort,
        version,
        creator,
        creator_code,
        created_time,
        modifier,
        modifier_code,
        modified_time
    </sql>
</mapper>