<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salute.mall.order.service.mapper.ShoppingCartMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.salute.mall.order.service.pojo.entity.ShoppingCart" id="baseMap">
        <result property="id"  column="id"/>
        <result property="skuCode"  column="sku_code"/>
        <result property="skuName"  column="sku_name"/>
        <result property="productCode"  column="product_code"/>
        <result property="buyQty"  column="buy_qty"/>
        <result property="shopCode"  column="shop_code"/>
        <result property="shopName"  column="shop_name"/>
        <result property="addCartPrice"  column="add_cart_price"/>
        <result property="mainImage"  column="main_image"/>
        <result property="sort"  column="sort"/>
        <result property="version"  column="version"/>
        <result property="creator"  column="creator"/>
        <result property="creatorCode"  column="creator_code"/>
        <result property="createdTime"  column="created_time"/>
        <result property="modifier"  column="modifier"/>
        <result property="modifierCode"  column="modifier_code"/>
        <result property="modifiedTime"  column="modified_time"/>
    </resultMap>

    <sql id="baseColumn">
        id,
        sku_code,
        sku_name,
        product_code,
        buy_qty,
        shop_code,
        shop_name,
        add_cart_price,
        main_image,
        sort,
        version,
        creator,
        creator_code,
        created_time,
        modifier,
        modifier_code,
        modified_time
    </sql>
</mapper>