<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salute.mall.product.service.mapper.ProductStockMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.salute.mall.product.service.pojo.entity.ProductStock" id="baseMap">
        <result property="id"  column="id"/>
        <result property="productCode"  column="product_code"/>
        <result property="skuCode"  column="sku_code"/>
        <result property="realStock"  column="real_stock"/>
        <result property="availableStock"  column="available_stock"/>
        <result property="freezeStock"  column="freeze_stock"/>
        <result property="deleteFlag"  column="delete_flag"/>
        <result property="sort"  column="sort"/>
        <result property="version"  column="version"/>
        <result property="creator"  column="creator"/>
        <result property="creatorCode"  column="creator_code"/>
        <result property="createdTime"  column="created_time"/>
        <result property="modifier"  column="modifier"/>
        <result property="modifierCode"  column="modifier_code"/>
        <result property="modifiedTime"  column="modified_time"/>
    </resultMap>

    <sql id="baseColumn">
        id,
        tenant_code,
        product_code,
        sku_code,
        real_stock,
        available_stock,
        freeze_stock,
        delete_flag,
        sort,
        version,
        creator,
        creator_code,
        created_time,
        modifier,
        modifier_code,
        modified_time
    </sql>

    <update id="batchOperateFreezeStock" parameterType="java.util.List">
        update product_stock
        <trim prefix="set" suffixOverrides=",">
            freeze_stock =
            <foreach collection="itemList" item="item" open="case " close=" end,">
                when sku_code = #{item.skuCode} then freeze_stock + #{item.stockNum}
            </foreach>
            available_stock =
            <foreach collection="itemList" item="item" open="case " close=" end,">
                when sku_code = #{item.skuCode} then real_stock - freeze_stock
            </foreach>
            modified_time =now()
        </trim>
        <where>
            <foreach collection="itemList" item="item" open="( " separator=") or (" close=" )">
                sku_code = #{item.skuCode} AND available_stock>=#{item.stockNum}
            </foreach>
        </where>
    </update>

    <update id="doOperateFreezeStock" parameterType="com.salute.mall.product.service.pojo.dto.stock.OperateFreezeStockDaoDTO">
        update product_stock
        <set>
            <trim suffixOverrides=",">
                <if test=" item.stockNum != null">
                    freeze_stock = freeze_stock + #{item.stockNum},
                </if>
                <if test="item.stockNum != null">
                    available_stock = real_stock - freeze_stock,
                </if>
                <if test="item.modifier_code != null">
                    modifier_code = #{item.operateCode},
                </if>
                <if test="item.modifier_code != null">
                    modifier = #{item.operator},
                </if>
            </trim>
            ,modified_time = now()
        </set>
        <where>
            sku_code = #{item.skuCode} AND available_stock>=#{item.stockNum}
        </where>
    </update>
</mapper>