<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.salute.mall.product.service.mapper.ProductStockTransactionMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.salute.mall.product.service.pojo.entity.ProductStockTransaction" id="baseMap">
        <result property="id"  column="id"/>
        <result property="tenantCode"  column="tenant_code"/>
        <result property="operateType"  column="operate_type"/>
        <result property="operateTime"  column="operate_time"/>
        <result property="bizCode"  column="biz_code"/>
        <result property="beforeRealStock"  column="before_real_stock"/>
        <result property="afterRealStock"  column="after_real_stock"/>
        <result property="beforeFreezeStock"  column="before_freeze_stock"/>
        <result property="afterFreezeStock"  column="after_freeze_stock"/>
        <result property="operateStock"  column="operate_stock"/>
        <result property="deleteFlag"  column="delete_flag"/>
        <result property="sort"  column="sort"/>
        <result property="version"  column="version"/>
        <result property="creator"  column="creator"/>
        <result property="creatorCode"  column="creator_code"/>
        <result property="createdTime"  column="created_time"/>
        <result property="modifier"  column="modifier"/>
        <result property="modifierCode"  column="modifier_code"/>
        <result property="modifiedTime"  column="modified_time"/>
    </resultMap>

    <sql id="baseColumn">
        id,
        tenant_code,
        operate_type,
        operate_time,
        biz_code,
        before_real_stock,
        after_real_stock,
        before_freeze_stock,
        after_freeze_stock,
        operate_stock,
        delete_flag,
        sort,
        version,
        creator,
        creator_code,
        created_time,
        modifier,
        modifier_code,
        modified_time,
    </sql>
</mapper>